*{
  box-sizing: border-box;
  line-height: 1.42;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  font-size: 16px;
  background-color: #111;
  background-image: url('/images/background.jpg');
  background-size: cover;
}
body{
  background: rgba(0,0,0,.6);
  color: white;
  font-family: Arial;
  margin: 0;
  padding: 0 15px;
}
a{
  color: inherit;
}
li{
  list-style: none;
}

ul{
  -webkit-margin-start: 0;
  padding-inline-start: 0;

}