.slogan{
  font-family: var(--font-serif);
  font-size: 1rem;
  margin-top: 1rem;
  color: #111;
}

h1{
  font-weight: normal;
  font-size: inherit;
  margin: 0;
}

@media (max-width:767px){
  .slogan{
    .home &{
    }
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .slogan h1{
    margin-bottom: 2rem;
  }
  .slogan a{
    display: inline-block;
  }
}

@media (min-width:767px){
  .slogan-hack{
    overflow: visible;
    white-space: nowrap;
  }
  .bottom .slogan-hack{
    padding-left: calc(75% + 5px);
  }
  .slogan{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    margin: 1rem auto;
    &.bottom{
      bottom: 0;
    }
  }
}

@media (min-width:991px){
  .slogan-hack{
    padding-left: calc(75% + .5rem - 1px);
  }
}
.menu-links{
  width: 100%;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  a{
    text-decoration: none;
    padding: 0 .5rem;
    font-weight: bolder;
    &:hover{
      text-decoration: underline;
    }
  }
  a:first-child{
    padding-left: 0;
  }
  a:last-child{
    padding-right: 0;
  }
  @media (min-width:768px){
    display: initial;
  }
}
