.back{
  @media (min-width:768px){
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  &:hover{
    text-decoration: underline;
  }
}

@media (max-width:767px){
  .picture{
    margin: 0 -15px;
  }
}


.social{
  display: flex;
}
.social li a{
  padding: .5rem .5rem;
  display: inline-block;
  text-decoration: none;
  transition: all .1s ease-in-out;
  opacity: .85;
}
.social li:first-child a{
  padding: .5rem 0.5rem .5rem 0;
}
.social li a:hover{
  transform: scale(1.2);
}

main .artist-name{
  border-bottom: solid 3px #111;
  margin-bottom: 1em;
}

.label{
  margin-top: 1rem;
  margin-bottom: 0rem;
  text-transform: uppercase;
  color: lighten(#111, 50%);
  font-size: smaller;
  //font-weight: bold;
}
.label:first-child{
  margin-top: 0;
}

.press-kit{
  margin-top: 1rem;
}

.medias{
  margin: 1rem 0;
}
.call-to-action{
  text-align: center;
  a{
    padding: 1rem;
    display: inline-block;
  }
}

.bio-content{
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width:768px){
  .bio-content{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 3fr 1fr;
  }
}
