@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Roman.woff2') format('woff2'),
        url('HelveticaLTStd-Roman.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
