@import 'base';
@import 'header';
@import 'home';
@import 'artist';
@import 'fonts';
@import 'socicon';

$artists-count: 60;
$delay: 50;
$delay-long: 200;
$delay-short: 15;

.fade-up{
  animation-name: fade-up;
  animation-duration: .5s; 
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
}
.up{
  animation-name: up; 
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.out .fade-up, .out .up{
  animation-name: fade-up-out;
  animation-duration: .5s; 
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes fade-up{
  from{
    opacity: 0;
    transform: translateY(5px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes up{
  from{
    opacity: 1;
    transform: translateY(5px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up-out{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    transform: translateY(-5px);
  }
}

.fade-up{
  animation-delay: inherit;
}
.clicked .up{
  animation-delay: #{($artists-count + 1)*$delay-short}ms;
}
@for $i from 0 to $artists-count {
  .delayer:nth-child(#{$i}){
    animation-delay: #{($i - 1)*$delay}ms;
    .long &{
      animation-delay: #{($i - 1)*$delay-long}ms;
    }
    .out &{
      animation-delay: #{($artists-count - $i)*$delay-short}ms;
    }
    .out.long &{
      animation-delay: #{($artists-count - $i)*$delay-short}ms;
    }
  }
}
