@import 'base';

.fade-up{
  animation: fade-up 1 .5s forwards;
}

.menu{
  padding-right: 2rem;
}

.bio{
  padding-top: 1rem;
}

.slogan{
  font-family: 'Old Standard TT', serif;
  font-size: 1rem;
  margin-top: 1rem;
  color: white;
}
h1{
  font-weight: normal;
  font-size: inherit;
  margin: 0;
}
.name-wrapper{
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.artist-name{
  line-height: 2.583333333333333rem;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 1rem 0 .2rem;
  display: inline-block;
  border-bottom: solid 3px transparent;
  text-transform: uppercase;
  font-family: 'Old Standard TT', serif;
  text-decoration: none;
}

.performance-type{
  vertical-align: top;
  display: none;
  position: relative;
  top: .3rem;
  z-index: 1;
}


.artist-wrapper:target .artist-name, .name-wrapper:hover .artist-name{
  z-index: 1;
  position: relative;
}


.photo{
  position: fixed;
  display: flex;
  left: 0; top: 0; right: 0; bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  pointer-events: none;
}

.photo img{
  max-height: 80vh;
}

.bio, .photo img{
  transition: all .15s ease-out;
}
.bio{
  opacity: 0;
  animation-delay: .2s;
}

/* HIDDEN STYLES */
.photo, .bio{
  display: none;
  pointer-events: none;
}


/* HOVER STYLES */
.name-wrapper:hover{
  color: white!important;
}
.menu .name-wrapper:hover .artist-name{
  z-index: 3;
  border-bottom: solid 3px white;
}
.menu .name-wrapper:hover .performance-type{
  display: inline-block;
  z-index: 3;
}

.menu:hover .artist-wrapper:hover:not(:target) .photo{
  display: flex;
  z-index: -1;
}

@media (min-width:767px){
  .menu:hover .artist-wrapper:hover:not(:target) .photo{
    z-index: 2;
  }
}

.menu:hover .artist-wrapper:hover:not(:target) .performance-type{
  z-index: 3;
}
/* TARGET STYLES */
.artist-wrapper:target .name-wrapper{
  color: white!important;
}
.artist-wrapper:target .artist-name{
  z-index: 1;
  color: inherit;
  border-bottom: solid 3px white;
}
.artist-wrapper:target .performance-type{
  display: inline-block;
}
.artist-wrapper:target .photo{
  display: flex;
  z-index: -1;
}
.artist-wrapper:target .photo img{
  display: inline-block;
  opacity: .4;
  transform: scale(.9);
  background: #111;
}
.artist-wrapper:target .bio{
  display: inline-block;
  pointer-events: auto;
}


@keyframes fade-up{
  from{
    opacity: .7;
    transform: translateY(5px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.social{
  display: flex;
}
.social li a{
  padding: .5rem .5rem;
  display: inline-block;
  text-decoration: none;
  transition: all .1s ease-in-out;
}
.social li a:hover{
  transform: scale(1.2);
}

@media (max-width:767px){
  .slogan{
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .slogan h1{
    margin-bottom: 2rem;
  }
  .slogan a{
    text-align: right;
    display: inline-block;
    width: 100%;
  }
}

@media (min-width:767px){
  .slogan{
    position: absolute;
    right: 1rem;
    z-index: 100;
    text-align: right;
  }
  .menu{
    padding-top: 20vh;
    padding-left: 5vw;
    padding-right: 0;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
  }
  .bio{
    height: 100vh;
    position: absolute;
    left: 55vw;
    right: 0;
    padding-right: 5vw;
    padding-top: 40vh;
    top: 0;
    overflow-y: auto;
  }

  .bio-content{
    display: flex;
    margin-top: 1rem;
  }
  .social{
    flex-direction: column;
  }

  .ul-wrapper:hover .name-wrapper{
    color: darken(white, 90%);
  }
}

@media (min-width:991px){
  .menu{
    padding-left: 15vw;
  }
  .bio{
    padding-right: 10vw;
    padding-left: 2rem;
  }
}