@font-face {
  font-family: "Helvetica LT Std";
  src: url("/stylesheets/fonts/HelveticaLTStd-Light.woff2") format("woff2"), url("/stylesheets/fonts/HelveticaLTStd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url("/stylesheets/fonts/HelveticaLTStd-Roman.woff2") format("woff2"), url("/stylesheets/fonts/HelveticaLTStd-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica LT Std";
  src: url("/stylesheets/fonts/HelveticaLTStd-LightCond.woff2") format("woff2"), url("/stylesheets/fonts/HelveticaLTStd-LightCond.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
